<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag asset_path('accessory.jpg'), alt: 'Coffee Image', class: 'img-fluid' %>
    </div>
    <div class="col-md-6">
      <div class="content">
        <h2>Accessories</h2>
        <p>Elevating Your Coffee Experience.
        In the world of coffee, the journey from bean to cup is a fascinating one, and coffee accessories play a crucial role in enhancing that journey.
        From the humble grinder that transforms whole beans into a perfect grind to the precision of the pour-over kettle, these tools are the unsung heroes of your daily brew.</p>
        <%= link_to "Learn More", index_accessories_products_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

