<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag asset_path('accessory.jpg'), alt: 'Coffee Image', class: 'img-fluid' %>
    </div>
    <div class="col-md-6">
      <div class="content">
        <h2>Accessories</h2>
        <p>caramelization half and half black carajillo viennese instant cultivar froth. Qui plunger pot frappuccino bar  aromatic half and half americano brewed chicory.</p>
        <p>Steamed redeye galão caffeine affogato macchiato brewed galão caramelization carajillo robusta. Froth, caramelization milk macchiato chicory french press robust.</p>
        <%= link_to "Learn More", index_accessories_products_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

