<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('home_banner.jpg') %>);">
  <div class="container">
    <h1>Venha descobrir seu mais novo café favorito!</h1>
    <br>
    <p>Cafés especiais produzidos e torrados por produtores de todo o Brasil.</p>
  </div>
</div>
