<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('home_banner.jpg') %>);">
  <div class="container">
    <h1>Anuncie seus produtos no maior MarketPlace de cafe especial do Brasil!</h1>
    <br>
  </div>
</div>
