<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('home_banner.jpg') %>);">
  <div class="container">
    <h1>Welcome to our flavor heaven! We're thrilled to have you here, exploring the incredible world of coffee with us. On our website, you'll find a carefully curated selection of the finest coffee beans, roasted with passion and dedication to bring you the most authentic and delightful experience</h1>
    <br>
    <p>Special coffes and roasted beans from our best producers from all Brazil.</p>
  </div>
</div>
