<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="content">
        <h2>Coffee</h2>
        <p>More than just a morning ritual, it's a daily dose of inspiration.
        This beloved brew not only wakes you up but also ignites your senses, fueling your day with creativity and clarity.
        With each sip, you're transported to a world where ideas flow, conversations spark, and productivity soars.
        Coffee isn't just a beverage; it's a companion in your journey, offering comfort, warmth, and a little kick of motivation.
        So, whether you're sipping it alone or sharing it with friends, embrace the goodness of coffee and let it be your trusted ally in the quest for a better day.</p>
        <%= link_to "Learn More", products_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-md-6">
      <%= image_tag asset_path('coffee_image.jpg'), alt: 'Coffee Image', class: 'img-fluid' %>
    </div>
  </div>
</div>
