<div class="promo-section">
  <div class="text-center">
    <h2>Promo</h2>
    <p>Hey! Check out our exclusive sales! Don't miss out on your passport to extraordinary flavors and savings.</p>
  </div>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'accessory.jpg', class: 'img-carrousel' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'coffee_image.jpg', class: 'img-carrousel' %>
    </div>
    <div class="carousel-item">
    <%= image_tag 'placeholder.jpg', class: 'img-carrousel' %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="content">
  <%= link_to "Learn More", index_accessories_products_path, class: "btn btn-primary" %>
</div>
