.btn-primary {
  width: 120px;
  border-radius: 50px;
  a {
    color: black;
    text-decoration: none;
  }
}

.btn-flat {
  color: white;
}

.btn-home {
  width: 120px;
  margin: 20px auto;
}

.btn-content {
  display: flex;
  justify-content: center;
}
