
// font-family: 'IBM Plex Sans', sans-serif;
// font-family: 'Instrument Sans', sans-serif;
// font-family: 'Racing Sans One', cursive;

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/footer";
@import "pages/container_macro";
@import "pages/products_index";
@import "pages/card_category";
@import "pages/cards_grid";
@import "pages/card_product";
@import "pages/banner";
@import "pages/promo";

body {
  background-color: #49643F;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
  font-family: 'Instrument Sans', sans-serif;
}

h2 {
  font-family: 'Instrument Sans', sans-serif;
}

.h2-special {
  font-family: 'Racing Sans One', cursive;
  font-size: 50px;
}
